* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #080808ff 0%, #353536ff 100%);
  min-height: 100vh;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 150px 50px 50px;
  max-width: 1400px;
  margin: 0 auto;
}

.text-section {
  flex: 1;
  max-width: 600px;
}

.name {
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 20px;
  background: linear-gradient(45deg, #cf5d7f, #a90d31);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  font-size: 18px;
  color: #ccc;
  margin-bottom: 40px;
  font-weight: 300;
}


.buttons {
  display: flex;
  gap: 20px;
}

.button {
  padding: 15px 50px;
  border-radius: 60px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
}

.primary {
  background: transparent;
  color: #e16792;
  border: 2px solid #e3a0a0;
}

.primary:hover {
  background: #e16792;
  color: white;
  transform: translateY(-2px);
}


.img-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-photo {
  width: 360px;
  height: 360px;
  object-fit: cover;
  border-radius: 20px;
  animation: float 3s ease-in-out infinite;
  box-shadow: 0 10px 30px rgba(188, 154, 154, 0.2);
}


@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

#cv-details {
  display: none;
  max-width: 900px;
  margin: 30px auto;
  padding: 50px;
  background: #ffffff;
  border-radius: 12px;
  line-height: 1.7;
  box-shadow: 0 5px 40px rgba(0,0,0,0.12);
  border-left: 8px solid #b73454;
}


.complete-name {
  font-size: 35px;
  font-weight: 900;
  letter-spacing: 1px;
  color: #222;
  text-align: center;
}


.contact {
  text-align: center;
  margin-bottom: 20px;
  color: #555;
}

.section {
  margin-bottom: 35px;
  text-align: justify;
}

h3 {
  font-size: 22px;
  font-weight: 800;
  color: #b73454;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.section-line {
  width: 100%;
  height: 2px;
  background: #ddd;
  margin: 10px 0 15px;
}

ul {
  margin-left: 20px;
  list-style: disc;
}

li {
  margin-bottom: 8px;
}
